<div class="panel panel-primary" *ngIf="visible">
  <div class="panel-heading clearfix">
    <h1 class="panel-title pull-left"><strong>Scrum Master Tips</strong></h1><span class="badge pull-right">{{tipCount}}</span>
  </div>
  <div class="panel-body my-main-panel">
    <div class="panel panel-default my-sub-panel" *ngFor="let tip of tips">
      <div class="panel-heading clearfix">
        <h2 class="panel-title pull-left"><strong>{{ tip.title }}</strong></h2>
        <span class="pull-right pointer" (click)="removeTip(tip)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></span>
        <span class="pull-right pointer" (click)="editTip(tip)" style="margin-right: 5px;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>
      </div>
      <div class="panel-body scrollable">
        <blockquote>{{ tip.tip }}<cite>{{ tip.author }} <a [href]="tip.url" target="_blank"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></cite></blockquote>
      </div>
    </div>
  </div>
</div>
