<div class="panel panel-primary" *ngIf="visible">
  <div class="panel-heading clearfix">
    <h1 class="panel-title pull-left"><strong>{{addOrEditLabel}} Tip Form</strong></h1>
  </div>
  <div class="panel-body my-main-panel">
    <form [formGroup]="tipForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter Title" formControlName="title">
        <span *ngIf="!tipForm.get('title').valid && tipForm.get('title').touched" class="label label-danger">Please enter a title</span>
      </div>
      <div class="form-group">
        <label for="tip">Tip</label>
        <textarea class="form-control" id="tip" placeholder="Enter Tip" formControlName="tip" rows="5"></textarea>
        <span *ngIf="!tipForm.get('tip').valid && tipForm.get('tip').touched" class="label label-danger">Please enter a tip</span>
      </div>
      <div class="form-group">
          <label for="url">URL</label>
          <input type="text" class="form-control" id="url" placeholder="Enter URL" formControlName="url">
          <span *ngIf="!tipForm.get('url').valid && tipForm.get('url').touched" class="label label-danger">Please enter a URL</span>
      </div>
      <div class="form-group">
          <label for="author">Author</label>
          <input type="text" class="form-control" id="author" placeholder="Enter Author" formControlName="author">
          <span *ngIf="!tipForm.get('author').valid && tipForm.get('author').touched" class="label label-danger">Please enter a author</span>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <span *ngIf="!tipForm.valid && tipForm.touched" class="label label-danger">Please enter valid data</span>
      <button type="button" class="btn btn-secondary pull-right" (click)="resetForm()" *ngIf="showResetButton">Reset Form</button>
      <button type="button" class="btn btn-default pull-right hide" (click)="test()">TEST</button>
    </form>
  </div>
</div>
