<div class="container-fluid">
  <h1>
    Lunch and Learn - Angular {{version}} Demo
  </h1>
  <!-- addNewTipEvent is emitted by the child component add-tip-button ... "onAddNewTip" is defined in our parent component - app.component -->
  <!-- $event is a reference to the object we defined in the child component when we emitted the event -->
  <div class="btn-group" role="group" aria-label="...">
    <app-add-tip-button (addNewTipEvent)="onAddNewTip($event)" [disabled]="addNewButtonDisabled"></app-add-tip-button>
    <app-show-tips-button (showTipsEvent)="onShowTips($event)" [disabled]="showTipsButtonDisabled"></app-show-tips-button>
  </div>
  <hr />
  <app-tip-form (formSubmitted)="onFormSubmitted()" [visible]="tipFormVisible" [currentTip]="currentTip" [addOrEdit]='addOrEdit'></app-tip-form>
  <app-tip-listing [visible]="tipListingVisible" (editTipEvent)="onEditTip($event)"></app-tip-listing>
</div>
